body{
  text-align:center;
  background-color:lightgray;
}
.container{
  margin:0 15%;
  min-width:400px;
}
.user{
  border-left:7px gray solid;
  display:flex;
  margin:3%;
  height:100px;
  text-align:left;
  vertical-align:middle;
}
.user:hover{
    border-left:7px #333 solid;
}
img{
  margin:20px 15px;
}
.online{
  background-color:lightgreen;
}
.offline{
  background-color:lightpink;
}
ul{
  list-style:none;
}
a{
  display:block;
}